<section class="space-y-8">
    <article class="prose dark:prose-invert">
        <h1>CSS flexbox</h1>
        <p>
            Flexbox is a whole module and not a single property. It involves a lot of things including its whole set
            of properties. Some of them are meant to be set on the container (parent element, known as “flex
            container”) whereas the others are meant to be set on the children (“flex items”).
        </p>
        <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">
            Read more on CSS Tricks
        </a>
    </article>
    <article class="prose dark:prose-invert">
        <h2>Useful materials</h2>
        <ul>
            <li>
                <a href="https://flexboxfroggy.com/" target="_blank">
                    "Flexbox Froggy"
                </a>
            </li>
            <li>
                <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">
                    "A Complete Guide to Flexbox" (by Chris Coyier)
                </a>
            </li>
            <li>
                <a
                    href="https://www.digitalocean.com/community/cheatsheets/css-flexbox?utm_medium=content_acq&utm_source=css-tricks&utm_campaign=&utm_content=awareness_bestsellers">
                    "Flexbox Cheatsheet" (by Digitalocean)
                </a>
            </li>
        </ul>
    </article>
</section>

<section class="mt-6 space-y-8">
    <article class="prose dark:prose-invert">
        <h2>How to use flexbox?</h2>
        <ol>
            <li>
                <p>
                    The first step is to set <code class="text-yellow-500">display: flex</code> on a container element.
                    The children to the flex container become flex items.
                </p>
                <div class="example-1">
                    <div class="step-1">
                        <div class="flex border-4 border-gray-700 p-4">
                            <div class="bg-gray-700 p-4">
                                Child 1
                            </div>
                            <div class="bg-gray-700 p-4">
                                Child 2
                            </div>
                            <div class="bg-gray-700 p-4">
                                Child 3
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </article>
</section>
