<nav class="bg-white py-2.5 scroll dark:bg-gray-900 sticky w-full z-20 top-0 left-0 border-b dark:border-gray-600">
    <div class="max-w-6xl flex items-center justify-between mx-auto px-8">
        <span class="self-center text-xl font-bold whitespace-nowrap dark:text-white">
            <a [routerLink]="[ '/' ]">
                <span class="text-blue-500 mr-1">CSS</span> Workshop
            </a>
        </span>
        <div class="flex items-center p-4 space-x-2 text-sm font-medium">
            <ng-container *ngFor="let link of (links$ | async)">
                <app-navbar-link [link]="link"></app-navbar-link>
            </ng-container>
        </div>
    </div>
</nav>
