<h1 class="mb-6">
    Dos and dont's
</h1>

<div class="prose dark:prose-invert mb-12">
    <p>
        Below you will find some good and bad practises while working with CSS. Please remember that there can be
        exceptions, as always 😊
    </p>
</div>

<div class="flex flex-col md:flex-row gap-12">
    <div class="flex-1">
        <h2 class="mb-6">
            Good Practises
        </h2>

        <div class="prose dark:prose-invert">
            <ul>
                <ng-container *ngFor="let item of (dosAndDonts$ | async)">
                    <li>
                        <span class="font-medium">
                            {{ item.title }}
                        </span>
                        <ng-container *ngIf="item.description">
                            <p class="opacity-70 m-0">
                                {{ item.description }}
                            </p>
                        </ng-container>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="flex-1">
        <h2 class="mb-6">
            Links
        </h2>

        <div class="prose dark:prose-invert mb-12">
            <ul>
                <ng-container *ngFor="let link of (usefulLinks$ | async)">
                    <li>
                        <a [href]="link.link" target="_blank">
                            {{ link.text }}
                            <fa-icon class="ml-1 text-sm" [icon]="['fas', 'up-right-from-square']"></fa-icon>
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>

        <h2 class="mb-6">
            Social Media
        </h2>

        <div class="prose dark:prose-invert">
            <ul>
                <ng-container *ngFor="let link of (socialMediaLinks$ | async)">
                    <li>
                        <a [href]="link.link" target="_blank">
                            {{ link.text }}
                            <fa-icon class="ml-1 text-sm" [icon]="['fas', 'up-right-from-square']"></fa-icon>
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>
