<h1 class="mb-6">
    Dos and dont's
</h1>

<div class="prose dark:prose-invert mb-12">
    <p>
        Below you will find some good and bad practises while working with CSS. Please remember that there can be
        exceptions, as always 😊
    </p>
</div>

<div class="flex flex-col md:flex-row gap-12">
    <div class="flex-1">
        <h2 class="mb-6">
            Good Practises
        </h2>

        <div class="prose dark:prose-invert">
            <ul>
                <li>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam dolorem assumenda voluptate
                    consectetur reprehenderit nihil fugiat praesentium? Repudiandae, ea ipsa sequi provident
                    necessitatibus accusamus, nulla vitae, voluptatum optio itaque alias?
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-1">
        <h2 class="mb-6">
            Bad Practises
        </h2>

        <div class="prose dark:prose-invert">
            <ul>
                <li>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam dolorem assumenda voluptate
                    consectetur reprehenderit nihil fugiat praesentium? Repudiandae, ea ipsa sequi provident
                    necessitatibus accusamus, nulla vitae, voluptatum optio itaque alias?
                </li>
            </ul>
        </div>
    </div>
</div>
