.container {
    font-size: 16px;
}

ul {
    font-size: 1rem;
}

li {
    font-size: 1rem;
}

.btn {
    border-radius: 0.25rem;
    background-color: white;
    font-weight: 500;
    color: black;

    font-size: 1rem;
    padding: 0.5em 1em;
}
