<h1 class="mb-6">
    CSS Flexbox
</h1>

<div class="prose dark:prose-invert mb-12">
    <p>
        During the CSS stone age, developers were creating layouts with <code>float</code> and <code>position</code>
        until one day Flexbox will be introduced and the world will never be the same.
    </p>
</div>

<div class="mb-12">
    <h2 class="mb-6">
        What is Flexbox?
    </h2>
    <div class="prose dark:prose-invert mb-6">
        <p>
            Flexbox is a CSS <b>module</b>. It involves a lot of things including its whole set
            of properties. Some of them are meant to be set on the container (parent element, known as “flex
            container”) whereas the others are meant to be set on the children (“flex items”).
        </p>
    </div>
</div>

<div class="mb-12">
    <h2 class="mb-6">
        How to start using Flexbox?
    </h2>
    <div class="prose dark:prose-invert mb-6">
        <ul class="list-decimal list-inside">
            <li>
                <span>Create a structure of a container and it's children in HTML.</span>
                <pre>
                    <code [innerText]="example1"></code>
                </pre>
            </li>
            <li>
                <span>In the CSS file, add <code>display: flex</code> to the container element.</span>
                <pre>
                    <code [innerText]="example2"></code>
                </pre>
                <p>
                    This will add 2 invisible axis (<code class="text-blue-600">main axis</code> and <code
                        class="text-yellow-600">cross axis</code>) to the element. Our items will no longer
                    be stacked one above the other, but placed along the <code>main axis</code>. By default it is
                    horizontal, but it can be changed with <code>flex-direction</code> property.
                </p>
                <div class="example-container flex">
                    <div class="example-container__item">
                        1
                    </div>
                    <div class="example-container__item">
                        2
                    </div>
                    <div class="example-container__item">
                        3
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
