@use 'src/styles/theme-variables' as theme;

:host {
    display: flex;
    flex-direction: column;
    gap: theme.$spacer-sm;
    box-sizing: border-box;
    height: 100vh;
    padding: theme.$spacer-lg;
    overflow-y: auto;
}
